<%-include("navbar.ejs"); %>
<div class="row">
    <div class="col-12">
    <p class="h3 mb-3"><strong>contact</strong> Page Details</p>

    <form action="contact_details" method="post" class="about_form" enctype="multipart/form-data">
    <h5>services card</h5>
    <input type="file" name="contact_image" class="form-control" required>
    <br>













    <%- include("footer.ejs") %>