<%- include("navbar.ejs"); %>
<div class="container-fluid  py-5 mb-5 " style="background-color: white;" ></div>
  <!-- <div class="container-fluid m-3 d-flex w-100 bg-primary position-fixed" >
    <h6  style=" width: 16%;" ><span style="margin-right: 1%;">Pune </span> <i class="bi bi-arrow-right "></i> <span style="margin-left: 1%;margin-right: 1%;">Mumbai</span>
     <i class="bi bi-caret-left"></i> <span> 21 Mar</span> <i class="bi bi-caret-right " style="margin-right: 1%;" ></i> 
    
 </h6> 
 <button class="modify-btn" style="border-radius: 5px; border: 1px solid blakc; margin-top: 0; width: 120px;">Modify</button>
 </div> -->

 <div class="container">
    <h5 style="background-color: #dde1ff; width: 590px; padding: 10px;">Click on an Available seat to proceed with your transaction.</h5>
</div>

<%- include("footer.ejs"); %>
