<%- include("navbar.ejs"); %>


<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-center py-5">
            <div class="col-lg-10 pt-lg-5 mt-lg-5 text-center">
                <h1 class="display-3 text-white animated slideInDown">Destination</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Services</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


    <!-- Destination Start -->
    <div class="container-xxl py-5 destination">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Destination</h6>
                <h1 class="mb-5">Popular Destination</h1>
            </div>
            <div class="row g-3">
                <div class="col-lg-7 col-md-6 ">
                    <div class="row g-3">
                        <div class="col-lg-12 col-md-12 wow zoomIn" data-wow-delay="0.1s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="/user_assests/img/destination-1.jpg" alt="">
                                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">30% OFF</div>
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Thailand</div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.3s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="/user_assests/img/destination-2.jpg" alt="">
                                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">25% OFF</div>
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Malaysia</div>
                            </a>
                        </div>
                        <div class="col-lg-6 col-md-12 wow zoomIn" data-wow-delay="0.5s">
                            <a class="position-relative d-block overflow-hidden" href="">
                                <img class="img-fluid" src="/user_assests/img/destination-3.jpg" alt="">
                                <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">35% OFF</div>
                                <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Australia</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 wow zoomIn" data-wow-delay="0.7s" style="min-height: 350px;">
                    <a class="position-relative d-block h-100 overflow-hidden" href="">
                        <img class="img-fluid position-absolute w-100 h-100" src="/user_assests/img/destination-4.jpg" alt="" style="object-fit: cover;">
                        <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">20% OFF</div>
                        <div class="bg-white text-primary fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Indonesia</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
  <style>/* From Uiverse.io by Smit-Prajapati */ 
    .card {
      width: 300px;
      height: 200px;
      background: #243137;
      position: relative;
      display: grid;
      place-content: center;
      border-radius: 10px;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
    }
    
    #logo-main, #logo-second {
      height: 100%;
    }
    
    #logo-main {
      fill: #bd9f67;
    }
    
    #logo-second {
      padding-bottom: 10px;
      fill: none;
      stroke: #bd9f67;
      stroke-width: 1px;
    }
    
    .border {
      position: absolute;
      inset: 0px;
      border: 2px solid #bd9f67;
      opacity: 0;
      transform: rotate(10deg);
      transition: all 0.5s ease-in-out;
    }
    
    .bottom-text {
      position: absolute;
      left: 50%;
      bottom: 13px;
      transform: translateX(-50%);
      font-size: 6px;
      text-transform: uppercase;
      padding: 0px 5px 0px 8px;
      color: #bd9f67;
      background: #243137;
      opacity: 0;
      letter-spacing: 7px;
      transition: all 0.5s ease-in-out;
    }
    
    .content {
      transition: all 0.5s ease-in-out;
    }
    
    .content .logo {
      height: 35px;
      position: relative;
      width: 33px;
      overflow: hidden;
      transition: all 1s ease-in-out;
    }
    
    .content .logo .logo1 {
      height: 33px;
      position: absolute;
      left: 0;
    }
    
    .content .logo .logo2 {
      height: 33px;
      position: absolute;
      left: 33px;
    }
    
    .content .logo .trail {
      position: absolute;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
    
    .content .logo-bottom-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: 30px;
      color: #bd9f67;
      padding-left: 8px;
      font-size: 11px;
      opacity: 0;
      letter-spacing: none;
      transition: all 0.5s ease-in-out 0.5s;
    }
    
    .card:hover {
      border-radius: 0;
      transform: scale(1.1);
    }
    
    .card:hover .logo {
      width: 134px;
      animation: opacity 1s ease-in-out;
    }
    
    .card:hover .border {
      inset: 15px;
      opacity: 1;
      transform: rotate(0);
    }
    
    .card:hover .bottom-text {
      letter-spacing: 3px;
      opacity: 1;
      transform: translateX(-50%);
    }
    
    .card:hover .content .logo-bottom-text {
      opacity: 1;
      letter-spacing: 9.5px;
    }
    
    .card:hover .trail {
      animation: trail 1s ease-in-out;
    }
    
    @keyframes opacity {
      0% {
        border-right: 1px solid transparent;
      }
    
      10% {
        border-right: 1px solid #bd9f67;
      }
    
      80% {
        border-right: 1px solid #bd9f67;
      }
    
      100% {
        border-right: 1px solid transparent;
      }
    }
    
    @keyframes trail {
      0% {
        background: linear-gradient(90deg, rgba(189, 159, 103, 0) 90%, rgb(189, 159, 103) 100%);
        opacity: 0;
      }
    
      30% {
        background: linear-gradient(90deg, rgba(189, 159, 103, 0) 70%, rgb(189, 159, 103) 100%);
        opacity: 1;
      }
    
      70% {
        background: linear-gradient(90deg, rgba(189, 159, 103, 0) 70%, rgb(189, 159, 103) 100%);
        opacity: 1;
      }
    
      95% {
        background: linear-gradient(90deg, rgba(189, 159, 103, 0) 90%, rgb(189, 159, 103) 100%);
        opacity: 0;
      }
    }</style>
        

<%- include("footer.ejs"); %>